div {
    width: 400px;
    height: 200px;
    background-color: #16A2D7;
    border-radius: 50px;
    border: 20px groove #16A2D7;
    background-image: url("../../000_img/pup.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}