html {
    background-color: beige;
}

#title {
    color: dimgray;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 10px groove orange;
}

a:link {
    color: blue;
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    color: #00FF00;
}

a:active {
    color: red;
}